html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border-image-width: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* Common css */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 150%;
}

.container {
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0 8px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}
.app {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

@media (min-width: 1500px) {
  .app {
    grid-template-columns: 1fr 2fr;
  }
}

.visual {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.counter,
.question {
  text-align: center;
}

.counter {
  color: red;
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .counter {
    font-size: 2rem;
  }
}
.question {
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .question {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .question {
    font-size: 3rem;
  }
}

.keyboard {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  margin-top: 1rem;
}

.row {
  width: fit-content;
  display: flex;
  gap: 1rem 0.5rem;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .row {
    gap: 1rem 1.5rem;
    flex-wrap: nowrap;
  }
}

.answer {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  max-width: fit-content;
}

@media (min-width: 1200px) {
  .answer {
    gap: 1rem 1.5rem;
  }
}

.char {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  background-color: #454658;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  color: aliceblue;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

@media (min-width: 768px) {
  .char {
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
  }
}

.key {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  display: block;
  border-radius: 0.5rem;
  background-color: #323ff1;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  color: aliceblue;
  cursor: pointer;
}

.key.used {
  background-color: #bb1e6d;
  cursor: auto;
}

@media (min-width: 768px) {
  .key {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  .key:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .key {
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
  }
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal_frame {
  width: 100%; /* Full width */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content_box {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.phrase {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(189, 27, 167);
  text-align: center;
}

.answer,
.phrase {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .answer {
    font-size: 3rem;
    font-weight: 600;
  }
}

.modal_btn {
  width: fit-content;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Primary Button Styles */
.modal_btn {
  background-color: #3498db;
  color: #fff;
  border: 2px solid #3498db;
}

.modal_btn:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.left {
  display: flex;
  justify-content: center;
}
.gallows_box {
  position: relative;
}
@media (max-width: 768px) {
  .left {
    transform: scale(0.5);
  }
} 

.man {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.part.last {
  animation: appearAnimation 1s ease;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.letters {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  gap: 0 0.5rem;
  margin: 5rem auto;
}
/* .letter {
  padding: 6px 10px;
  font-size: 4rem;
  background-color: lightgrey;
  border-radius: 0.5rem;
}
.letter.active {
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    background-color: lightgrey;
  }
  50% {
    background-color: red;
  }
} */
